.div-container {
    max-width: 500px;
    height: auto;
    margin : auto ;
    margin-top: 100px;
    
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    box-shadow:  0px 2px 6px -1px rgba(0,0,0,.12);
    
}
.MuiTextField-root {
    margin : 15px !important;
}
.signup-container{
    width: 100%;
    padding:  40px 10px 40px 10px; 
    background:  #fefefe; 
    text-align: center;
    
    
}

.captcha-box{
    padding: 10;
    margin: 40;
}

.left {
    width: 220px;
    height : auto;
    /* min-height: 100%; */
    position: relative;
    background: linear-gradient(-60deg, #666666, #6e303a);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.submit-button {
    margin-top: 30px !important;
}

.no-account{
    padding-top: 30px;
    float: right;
}