.company-container {
    display: inline-flex;
    width: 150px;
    height: 110px;
    align-items: center;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    margin: 15px;
    border-radius: 4px;
    transition : 0.5s;

    /* Prevent text selection highlight on all browsers */
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    cursor: pointer;
}

.company-container:hover {
    transform: translateY(-4px);
}
.company-name {
    font-size: large;
    padding: 10px 20px 10px 10px;
    width: 100%;
    font-weight: 450;
    text-align: center;
}

.company-logo {
    margin-left: 10px;

}

