.app-container {
    text-align: center;
    position: relative;
    color : rgb(0, 0, 0);
    width: 200px;
    margin: 15px;
    /* overflow: hidden; */
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    transition: 1s;
    border-radius: 4px;


    /* Prevent text selection highlight on all browsers */
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.app-header-container {
    padding: 15px 0 15px 0;
}
.app-header {
    display: inline-block;
    text-align: center;
    padding: 0 35px 0 35px;
    
}
.icon-down{
    display: inline-block;
    cursor: pointer;

    
}


.delete-icon {
    position: absolute;
    top : -10px;
    right : -10px;
    z-index: 10000;


}

.app-body {
        
        width: 100%;
        height: auto;
}
 
.body-location{
    padding-top: 5px;
    /* padding-bottom: 15px; */

}

.body-position {
    padding-bottom: 15px;
}

.status-button-container{
    display: flex;
    width: 100%;
    height: 100%;


}
.button-status {
    
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    

}


.Ghosted-body {
    background-color: lightgray;
}


.Rejected-body {

    background-color: lightcoral;


}

.Offered-body {
    background-color: lightskyblue;
}

.Pending-body {
    background-color: lightsteelblue;
}








