.app-container {
    text-align: center;
    position: relative;
    color : rgb(0, 0, 0);
    width: 200px;
    margin: 15px;
    /* overflow: hidden; */
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    transition: 1s;
    border-radius: 4px;
    cursor: pointer;
}



.app-header-container {

    padding: 0 15px 0 15px;
}
.app-header {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 15px 0 15px 0;
}

.delete-icon {
    position: absolute;
    top : -10px;
    right : -10px;
    z-index: 10000;
    opacity: 0;
    transition: 0.5s;
}

.app-container:hover .delete-icon{
    opacity: 1;
}

.app-body {
        
        width: 100%;
        height: auto;
}
 
.body-location{
    padding-top: 5px;
    /* padding-bottom: 15px; */

}

.body-position {
    padding-bottom: 15px;
}

.status-button-container{
    display: flex;
    width: 100%;
    height: 100%;


}
.button-status {
    
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(32, 36, 51, 0.384);
    border : 0;
    transition: 0.5s;

}

.button-status:hover {
    background-color: rgba(32, 36, 51, 0.562);

}

#left.button-status{
    border-radius: 0 0 0 2px;
}

#right.button-status{
    border-radius: 0 0 2px 0;
}
.Ghosted-body {
    background-color: lightgray;
}


.Rejected-body {
    background-color:#ee6262 ;
}

.Offered-body {
    background: linear-gradient(-45deg,#56d5e8, #568ee8, #95e856, #e8ab56,#bd56e9, #ee64ce, #e3e856);
	background-size: 600% 600%;
	animation: gradient 12s infinite;
}

.Pending-body {
    background-color: lightsteelblue;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}







