.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 20px;
    justify-content: flex-start;
    align-items: baseline;

}


.add-container {
    
    text-align: center;
    

    color : rgb(0, 0, 0);
    width: 200px;
    margin: 15px;


}

.action-button{
    transition: 0.5s;
    /* font-size: 1.5em; */
    
}
.action-button:hover{
    font-size: 1.1em;
    color: salmon;

}
