.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    align-items: baseline;

}

.quick-stats{
    text-align: center;
    margin: auto;
    border: black 1px solid;
    /* margin-bottom: 100px; */
}

.add-container {
    
    text-align: center;
    color : rgb(0, 0, 0);
    width: 200px;
    margin: 15px;

}

.application-leave { 
    opacity: 1;
}
  
.application-leave.application-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.application-appear {
    opacity: 0.01;
  }
  
  .application-appear.application-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }

  .empty-image-container{
      width: 30%;
      margin: auto ;
      margin-top: 40px;
      text-align: center;
  }

  .empty-image {
      width: 100%;
  }

  .empty-app-button {
      margin-top : 50px

  }